<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/myCSS.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/Style.css" />
</head>

<body class="bgBody" ng-app>
    <ul class="nav nav-pills naviBar">
        <li class="active"><a href="#">TODO (demo)</a>
        </li>
        <li><a href="#/about">About</a>
        </li>

    </ul>

    <div class="principalCenter" ng-controller="myTasksCtrl">
        <h1 class="tituloList">Lista de Tareas</h1>
        <div class="separador">
            <span class="numRestante">{{restantes()}} tarea/s restantes de {{cont}}</span>
            <span class="alertaLbl-{{msgVisible}} success-{{styleAgregado}}">{{msgAlerta}}</span>
            <button ng-click="delSelectedTasksC()" class="btn btn-default btn-danger btDelete">DELETE
                <span class="btEliminar">{{cuentaEliminar}}</span>
            </button>

        </div>
        <ul class="unstyled">
            <li ng-repeat="tarea in tareas" class="listStyle">
                <div class="row">
                    <div class="col-lg-6 ancho-total">
                        <div class="input-group">
                            <span class="input-group-addon">
                        <input type="checkbox"  ng-model="tarea.hecho">
                      </span>
                            <span type="text" class="form-control hecho-{{tarea.hecho}}">{{tarea.texto}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <form ng-submit="addTask()">
            <div class="col-lg-6 ancho-total">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control vacio-{{vacio}}" placeholder="Agregar item" ng-model="textoNuevaTarea" ng-change="verificaTexto()">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit">Add</button>
                    </span>
                </div>
            </div>
        </form>

    </div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="js/controllers/myTasksCtrl.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
